@model BTL_NMCNPM.Models.BaiHat

<h2>@Model.TenBaiHat</h2>
<p><strong>Thể loại:</strong> @Model.FK_TheLoai</p>
<p><strong>Link file:</strong> @Model.LinkFile</p>
<p><strong>Deleted:</strong> @Model.Deleted</p>
<p><strong>Người đăng:</strong> @Model.FK_NguoiUp</p>
<p><strong>Thời gian upload:</strong> @Model.ThoiGian_Up</p>
